rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isPasswordUser() {
      return request.auth != null
        && request.auth.token.firebase.sign_in_provider == 'password';
    }

    match /events/{doc} { allow read, write: if isPasswordUser(); }
    match /reservations/{doc} { allow read, write: if isPasswordUser(); }
    match /feedbacks/{doc} {
      allow create: if isPasswordUser();
      allow read, update, delete: if false;
    }
    match /notifications/{doc} { allow read, write: if isPasswordUser(); }
    match /employees/{doc} { allow read, write: if isPasswordUser(); }
    match /managementDivisions/{doc} { allow read, write: if isPasswordUser(); }
    match /resourceTypes/{doc} { allow read, write: if isPasswordUser(); }
    match /resourceMasters/{doc} { allow read, write: if isPasswordUser(); }
    match /eventCategories/{doc} { allow read, write: if isPasswordUser(); }

    match /{document=**} { allow read, write: if false; }
  }
}